In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('chennai_reviews_2.csv')
df.head()

,Hotel_name,Review_Title,Review_Text,Sentiment,Rating_Percentage
0,Accord Metropolitan,Excellent comfortableness during stay,Its really nice place to stay especially for b...,3,100
1,Accord Metropolitan,Not too comfortable,It seems that hotel does not check the basic a...,1,20
2,Accord Metropolitan,NaN,Worst hotel I have ever encountered. I will ne...,1,20
3,Accord Metropolitan,Best hotel,Had a good time in this hotel and the staff Ku...,3,100
4,Accord Metropolitan,NaN,good hotel and staff Veg food good non veg bre...,3,100

In [3]:
df.isnull().sum()

Hotel_name             0
Review_Title         424
Review_Text            0
Sentiment              0
Rating_Percentage      0
dtype: int64

In [5]:
df,shape

(4703, 5)

In [6]:
df1 = df[['Hotel_name','Review_Text','Sentiment','Rating_Percentage']].copy()
df1.head()

,Hotel_name,Review_Text,Sentiment,Rating_Percentage
0,Accord Metropolitan,Its really nice place to stay especially for b...,3,100
1,Accord Metropolitan,It seems that hotel does not check the basic a...,1,20
2,Accord Metropolitan,Worst hotel I have ever encountered. I will ne...,1,20
3,Accord Metropolitan,Had a good time in this hotel and the staff Ku...,3,100
4,Accord Metropolitan,good hotel and staff Veg food good non veg bre...,3,100

In [8]:
blank =[]

for i,hn,rt,s,rp in df1.itertuples():
    if rt.isspace():
        blank.append(i)

print(len(blank))

0

In [10]:
df['Sentiment'].value_counts()

3    3391
2     827
1     485
Name: Sentiment, dtype: int64

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB,ComplementNB
from sklearn.svm import SVC

In [13]:
X = df1['Review_Text']
y = df1['Sentiment']

In [14]:
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=42)

In [39]:
components_mnb = [('tfidf',TfidfVectorizer()),('mnb',MultinomialNB())]
components_cnb = [('tfidf',TfidfVectorizer()),('cnb',ComplementNB())]

In [40]:
components_rbf = [('tfidf',TfidfVectorizer()),('rbf',SVC())]
components_linear = [('tfidf',TfidfVectorizer()),('linear',SVC(kernel='linear'))]

In [41]:
mnb_clf = Pipeline(components_mnb)
cnb_clf = Pipeline(components_cnb)
rbf_clf = Pipeline(components_rbf)
linear_clf = Pipeline(components_linear)

In [42]:
from sklearn.metrics import classification_report, accuracy_score

In [43]:
mnb_clf.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...rue,
        vocabulary=None)), ('mnb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [44]:
mnb_preds = mnb_clf.predict(X_test)

In [45]:
print(classification_report(y_test,mnb_preds))
print(accuracy_score(y_test,mnb_preds))

              precision    recall  f1-score   support

           1       1.00      0.05      0.10       148
           2       1.00      0.02      0.03       288
           3       0.70      1.00      0.82       975

   micro avg       0.70      0.70      0.70      1411
   macro avg       0.90      0.36      0.32      1411
weighted avg       0.79      0.70      0.59      1411

0.7002126151665485

In [46]:
cnb_clf.fit(X_train,y_train)
cnb_preds = cnb_clf.predict(X_test)

In [47]:
print(classification_report(y_test,cnb_preds))
print(accuracy_score(y_test,cnb_preds))

              precision    recall  f1-score   support

           1       0.69      0.51      0.59       148
           2       0.74      0.24      0.37       288
           3       0.79      0.98      0.87       975

   micro avg       0.78      0.78      0.78      1411
   macro avg       0.74      0.58      0.61      1411
weighted avg       0.77      0.78      0.74      1411

0.778880226789511

In [48]:
rbf_clf.fit(X_train,y_train)

/Users/tom/anaconda3/envs/nlp_course/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...f', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False))])

In [49]:
rbf_preds = rbf_clf.predict(X_test)

In [50]:
print(classification_report(y_test,rbf_preds))
print(accuracy_score(y_test,rbf_preds))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00       148
           2       0.00      0.00      0.00       288
           3       0.69      1.00      0.82       975

   micro avg       0.69      0.69      0.69      1411
   macro avg       0.23      0.33      0.27      1411
weighted avg       0.48      0.69      0.56      1411

0.6909992912827781

/Users/tom/anaconda3/envs/nlp_course/lib/python3.6/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [51]:
linear_clf.fit(X_train,y_train)
lin_preds = linear_clf.predict(X_test)

In [52]:
print(classification_report(y_test,lin_preds))
print(accuracy_score(y_test,lin_preds))

              precision    recall  f1-score   support

           1       0.71      0.63      0.67       148
           2       0.66      0.42      0.51       288
           3       0.85      0.95      0.90       975

   micro avg       0.81      0.81      0.81      1411
   macro avg       0.74      0.67      0.69      1411
weighted avg       0.79      0.81      0.79      1411

0.8100637845499645

Linear SVC and ComplementNB have the best results with regards to classification